/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20/07/2017, 21:54:24
    Author     : Gledson
*/
#inserir{
    text-align: center;
    font-size: 12px;
}
.botao{
    background-color: cornflowerblue;
    color: azure;
    padding: 10px;
}
.botao:hover{
    background: whitesmoke;
    color: black;
    padding: 10px;
    cursor: pointer;
}
.vazio{
    color: red;
}
